/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 130%;
    font-family: ‘Whitney’, sans-serif;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* /General Section */
header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    /* height: 500px; */
    background-size: cover;
}

main {
    width: 100%;
    margin: auto;
}

nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
.float {
    float: left;
    height: 100%;
}
nav .float:first-child,
nav .float:last-child {
    width: 25%;
}
nav .float:nth-child(2) {
    width: 50%;
}
.logo {
    max-width: 100%;
    vertical-align: middle;
}
.nav-menu {
    list-style-type: none;
}
.nav-menu li {
    display: inline-block;
    margin-right: 1em;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    text-decoration: underline;
}
.nav-menu li:last-child {
    margin-right: 0;
}
a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.btn:hover {
    color: #265ee8;
}

/* jumbo */
.jumbo-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10em 0;
    color: white;
}

.jumbo-title {
    margin-bottom: 1.1em;
}

.jumbo-desc {
    line-height: 1.7em;
    margin-bottom: 1.1em;
}

a.btn.big{
    padding: 7px 23px;
}

a.btn.dark{
    background-color: #23272a;
    color: white;
}


a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}

.container::after {
    display: table;
    content: '';
    clear: both;
}

.float-right {
    float: left;
    width: calc(40% - 50px);
    margin-left: 20px;
    padding-right: 5em;
    margin-top: 80px;
}

.float-left {
    float: left;
    width: calc(60% - 70px);
    margin-right: 1em;
}

.title {
    margin: 20px 0 20px 0;
    line-height: 40px;
    font-size: 2.5em;
    line-height: 50px;
}

.percent {
    width: 65%;
    
}

.float-left-two {
    float: left;
    width: calc(60% - 20px);
    margin-left: 20px;
    margin-top: 60px;
}

.float-right-two {
    float: right;
    width: calc(40% - 50px);
    margin-left: 50px;
    padding-right: 5em;
    margin-top: 80px;
}

.grey {
    background-color: #f6f6f6 ;
}

.container-text-center {
    text-align: center;
    width: 100%;
    margin-top: 9em;
    padding: auto;
}

.percent-b {
     display:block;
     margin:0px auto;
     text-align:center;
     width: 65%;
}

.stars {
    background-image: url(../img/stars.svg);
    display:inline-block;
    background-size: contain;
    margin:0px auto;
    margin-left: 600px;
    width: 30%;
    background-repeat: no-repeat;
}

.center-title {
     display:inline-block;
     margin:0px auto;
     text-align:center;
     width: 65%;
     margin-bottom: 2em;
}

.final-title {
     margin: 40px;
}

.jumbo-btn-two {
    margin-left: 30em;
}

.btn-big-two {
    display: inline-block;
    background-color: #8ea1e1 ;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
}



footer {
    background-color: #23272A;
    padding: 100px 0px;
    color: white;
}
.footer-container {
    width: 70%;
    margin: 0 auto;
}

.footer-container .first-row {
    border-bottom: 1px solid #7289DA;
    padding-bottom: 30px;
}

.footer-container .footer {   
   float: left;
}
.footer.col-left {
    width: 25%;
}
.footer.col-li {
    width: calc(75% / 4);
}
.footer h2 {
    color: #7289DA;
    font-size: 2em;
}
.footer .language {
    margin: 30px 0;
}
.footer .language img {
    width: 8%;
    vertical-align: middle;
}
.social > .fab {
    display: inline-block;
    font-size: 1.3em;
    padding: 0 7px;
}
.footer > ul {
    list-style-type: none;
    padding-left: 30px;
}
.footer li {
    padding-bottom: 10px;
}

.footer li:last-child {
    padding-bottom: 0;
}

.footer li:first-child {
    color: #7289DA;
    font-weight: bold;
}

.footer-container > .second-row {
    padding-top: 30px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

